<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="MainFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/log.txt</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%10thread] %-5level %logger{50} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%-10thread] %-5level %logger{50} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="MainFileAppender" />
        <appender-ref ref="ConsoleAppender" />
    </root>
</configuration>